.lts_job: &lts_job
  image: registry.makandra.de/rails-lts/rails-lts-docker/test-env
  services:
    - name: registry.makandra.de/rails-lts/rails-lts-docker/pg:9.1
      alias: pg-db
    - name: registry.makandra.de/rails-lts/rails-lts-docker/mysql:5.6
      alias: mysql-db
    - name: registry.makandra.de/rails-lts/rails-lts-docker/memcached:1.5
      alias: memcached
  before_script:
    - ruby -v
    - bundle install
    - bundle pristine
  script:
    - bundle exec rake railslts:test
  variables: &lts_job_variables
    BUNDLE_PATH: ./bundle/vendor
    MYSQL_HOST: mysql-db
    MYSQL_USER: rails
    PG_HOST: pg-db
    PG_USER: rails
    MEMCACHE_HOST: memcached
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"
    paths:
      - ./bundle/vendor

.ruby-1.8.7: &ruby_1_8_7
  BUNDLE_GEMFILE: Gemfile.1.8
  RBENV_VERSION: 1.8.7

.ruby-2.3: &ruby_2_3
  BUNDLE_GEMFILE: Gemfile.2.3
  RBENV_VERSION: 2.3.7

.ruby-2.4: &ruby_2_4
  BUNDLE_GEMFILE: Gemfile.2.5
  RBENV_VERSION: 2.4.4

.ruby-2.5: &ruby_2_5
  BUNDLE_GEMFILE: Gemfile.2.5
  RBENV_VERSION: 2.5.1


# ============= Actual jobs ================

ruby-1.8.7:
  <<: *lts_job
  variables:
    <<: *lts_job_variables
    <<: *ruby_1_8_7

ruby-2.3:
  <<: *lts_job
  variables:
    <<: *lts_job_variables
    <<: *ruby_2_3

ruby-2.4:
  <<: *lts_job
  variables:
    <<: *lts_job_variables
    <<: *ruby_2_4

ruby-2.5:
  <<: *lts_job
  variables:
    <<: *lts_job_variables
    <<: *ruby_2_5
